<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongji.egov.example.service.mapper.BbsMapper">
    <resultMap id="BaseResultMap" type="com.rongji.egov.example.service.model.Bbs">
        <id column="ID" property="id"/>
        <result column="SUBJECT" property="subject"/>
        <result column="BBS_CATEGORY" property="bbsCategory"/>
        <result column="BBS_LEVEL" property="bbsLevel"/>
        <result column="PUBLISHER_NO" property="publisherNo"/>
        <result column="PUBLISHER_NAME" property="publisherName"/>
        <result column="PUBLISHER_ORG_NO" property="publisherOrgNo"/>
        <result column="PUBLISHER_ORG_NAME" property="publisherOrgName"/>
        <result column="APPROVER_NO" property="approverNo"/>
        <result column="APPROVER_NAME" property="approverName"/>
        <result column="VALID_START" property="validStart"/>
        <result column="VALID_END" property="validEnd"/>
        <result column="DELETE_DATE" property="deleteDate"/>
        <result column="ATTACHMENT" property="attachment"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="URL" property="url"/>
        <result column="BBS_STATUS" property="bbsStatus"/>
        <result column="IS_TOP" property="isTop"/>
        <result column="TOP_DATE" property="topDate"/>
        <result column="BBS_CATEGORY_NAME" property="bbsCategoryName"/>
        <result column="READERS" property="readers"/>
        <result column="QUERY_READERS" property="queryReaders"/>
        <result column="SORT_NO" property="sortNo"/>
        <result column="HITS" property="hits"/>
        <result column="OUTER_NET" property="outerNet"/>
        <result column="IS_WORD" property="isWord"/>
        <result column="SYSTEM_NO" property="systemNo"/>
        <result column="OLD_PUBLISH_DATE" property="oldPublishDate"/>
        <result column="PUBLISH_DATE" property="publishDate"/>
        <result column="PUBLISH_READERS" property="publishReaders"/>
        <result column="CONTENT" property="content"/>
        <result property="sourceId" column="SOURCE_ID"/>
        <result property="sourceModule" column="SOURCE_MODULE"/>
        <result property="hitRecord" column="HIT_RECORD"/>
        <result property="issuedBranchNo" column="ISSUED_BRANCH_NO"/>
        <result property="issuedBranchName" column="ISSUED_BRANCH_NAME"/>
        <result property="feedbackClaim" column="FEEDBACK_CLAIM"/>
        <result property="feedbackDeadline" column="FEEDBACK_DEADLINE"/>
        <result property="isFeedback" column="IS_FEEDBACK"/>
        <result property="secLevel" column="SEC_LEVEL"/>
        <result property="signUserName" column="SIGN_USER_NAME"/>
    </resultMap>

</mapper>
